* {
  margin: 0;
  padding: 0;
}

body {
  width: 1260px;
  margin: 0 auto;
}

body header {
  width: inherit;
  min-height: 30px;
  background-color: khaki;
}

body header .title {
  width: inherit;
  display: flex;
  justify-content: center;
  font-family: Mistral;
}

body header nav {
  display: flex;
  justify-content: flex-end;
}

body header nav ul {
  width: 150px;
  height: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body header nav ul li {
  font-size: 18px;
  font-family: Monotype Corsiva;
}

body header nav ul li:hover {
  cursor: pointer;
  color: #fff;
}

body main {
  display: flex;
  justify-content: center;
  min-height: 700px;
  margin-top: 20px;
  font-family: Monotype Corsiva;
}

body main table {
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
}

body main table th, body main table td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

body main table th:first-child, body main table td:first-child {
  text-align: left;
}

body main table th {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
}

body main table td {
  background: #D8E6F3;
  min-width: 65px;
}

body main table td button {
  width: 22px;
  height: 22px;
  background: url(/img/edit.png) no-repeat;
  background-size: 100%;
  border: none;
}

body main table td button:hover {
  cursor: pointer;
}

body main table td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
  min-width: 20px;
}

body footer {
  margin-top: 35px;
  width: inherit;
  min-height: 30px;
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Monotype Corsiva;
  font-size: 20px;
}

body #modal-editform-block, body #modal-registrform-block {
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 210px);
  z-index: 9999;
  display: none;
  width: 300px;
  height: 420px;
  background: khaki;
  text-align: center;
  border-radius: 25px;
  font-family: Monotype Corsiva;
}

body #modal-editform-block .modal-registrform-content, body #modal-editform-block .modal-editform-content, body #modal-registrform-block .modal-registrform-content, body #modal-registrform-block .modal-editform-content {
  height: 420px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body #modal-editform-block .modal-registrform-content .title h3, body #modal-editform-block .modal-editform-content .title h3, body #modal-registrform-block .modal-registrform-content .title h3, body #modal-registrform-block .modal-editform-content .title h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

body #modal-editform-block .modal-registrform-content .modal-form, body #modal-editform-block .modal-editform-content .modal-form, body #modal-registrform-block .modal-registrform-content .modal-form, body #modal-registrform-block .modal-editform-content .modal-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 220px;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

body #modal-editform-block .modal-registrform-content .modal-form input, body #modal-editform-block .modal-editform-content .modal-form input, body #modal-registrform-block .modal-registrform-content .modal-form input, body #modal-registrform-block .modal-editform-content .modal-form input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
}

body #modal-editform-block .modal-registrform-content .modal-form button, body #modal-editform-block .modal-editform-content .modal-form button, body #modal-registrform-block .modal-registrform-content .modal-form button, body #modal-registrform-block .modal-editform-content .modal-form button {
  margin-top: 15px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: Monotype Corsiva;
  font-size: 18px;
}

body #modal-editform-block .modal-registrform-content .modal-form button:hover, body #modal-editform-block .modal-editform-content .modal-form button:hover, body #modal-registrform-block .modal-registrform-content .modal-form button:hover, body #modal-registrform-block .modal-editform-content .modal-form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

body #cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  body {
    width: 950px;
  }
}

@media screen and (max-width: 992px) {
  body {
    width: inherit;
  }
}

@media screen and (max-width: 768px) {
  body header .title {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 25px;
  }
}
